@import "@styles/mixin.module.scss";
@import "@styles/variable.module.scss";

.container{

    .title{
        @include flex_box_custom(flex-start, center, 8px);
        padding: 9px 15px;
        color: #404040;
        font-size: 14px;
        cursor: pointer;

        &:hover{
            color: #7c7c7c;
        }
        
    }

    .activeTitle{
        background-color: #f7f7f7;
    }

    .contentMenu{
        height: 0px;
        overflow: hidden;
        padding: 0 20px;
        transition: all 0.2s linear;
    }

    .isVisibility{
        height: auto;
        padding: 20px;
    }

    .borderBottom{
        border-bottom: 1px solid #e1e1e1;
    }
}