@import "@styles/variable.module.scss";
@import "@styles/mixin.module.scss";


.btn {
    @include btn(45px, 13px, 3px, $primary_color);
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    margin-top: 12px;

    &:hover {
        transition: background-color 300ms;
    }
}

.btnLarge{
    width: 100%;
    padding: 13px 0;
}
.btnMedium{
    width: 142px;
    padding: 10px 0;
}

.primaryBtn{
    background-color: $primary_color;
    color: $white_color;

    &:hover{
    color: $primary_color;
    background-color: transparent;
    }
}

.secondaryBtn{
    background-color: $white_color;
    color: $primary_color;

    &:hover{
    color: $white_color;
    background-color: $primary_color;
    }

}