@import "@styles/variable.module.scss";
@import "@styles/mixin.module.scss";

.container{
    background-image: url(../../assets/images/coundown-baner.png);
    height: 447px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 1;
    text-align: center
}

.containerTimer{
    @include flex_box_custom(center, center, 10px);
}

.title{
    font-size: 28px;
    color: #fff;
    margin: 50px 20px 10px;
    padding: 10px 20px;
    border-radius: 10px;
    text-transform: capitalize;
    background-color: rgba(0,0,0,0.2);
}

@media (max-width: 930px) {
    .container{
        padding: 30px;
    }
    .title{
        font-size: 20px;
    }
}