@import "@styles/variable.module.scss";
@import "@styles/mixin.module.scss";

.container{
    background-image: url(../../assets/images/coundownBanner.jpeg);
    height: 447px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex: 1;
    text-align: center
}

.containerTimer{
    @include flex_box_custom(center, center, 10px);
}

.title{
    font-size: 28px;
    color: $four_color;
    margin: 20px 0;
    text-transform: capitalize;
}