@import "@styles/mixin.module.scss";
@import "@styles/variable.module.scss";

.container{
    padding-top: 83px;

    .navigateSection{
       @include flex_box_custom(space-between, center, 0);

       font-size: 14px;
       color: $seconddary_color;
    }

    .contentSection{
        @include flex_box_custom(space-between, flex-start, 30px);
        margin-top: 10px;
        margin-bottom: 80px;

        .imageBox{
            @include flex_box_custom(space-between, unset, 10px);
            flex-wrap: wrap;
            flex: 1;
            padding-top: 15px;

            img{
                width: calc(100% / 2 - 5px);
                object-fit: cover;
                border-radius: 2px;
                cursor: zoom-in;
            }
        }

        .contentBox{
            flex: 1;
            padding-top: 15px;

            .title{
                margin: 0 0 20px;
                font-size: 24px;
                color: $four_color;
                font-weight: 400;
            }

            .priceProduct{
                margin: 0 0 20px;
                font-size: 20px;
                color: $seconddary_color;
            }

            .desc{
                font-size: 16px;
                color: $thr_color;
                margin: 0 0 20px;
            }

            .containerSize{
                font-size: 16px;
                color: $thr_color;

                .boxSize{
                    @include flex_box_custom(flex-start, center, 10px);

                    margin-top: 10px;

                    .size{
                        padding: 9px 12px;
                        border: 1px solid #e1e1e1;
                        font-size: 12px;
                        cursor: pointer;
                    }
                }
            }

            .addToCartSection{
                @include flex_box_custom(flex-start, center, 20px);

                margin-top: 30px;

                .boxAddTocart{
                    flex: 1;

                    button{
                        margin: 0;
                        font-size: 12px
                    }
                    .btnAddTocart{
                        @include flex_box_custom(center, center, 5px);
                    }
                }


                .incremenAmount{
                    @include flex_box_custom(flex-start, center, 0);

                    div{
                        @include flex_box_custom(center, center, 0);
                        border: 1px solid #e1e1e1;
                        height: 38px;
                        padding: 0 5px;
                        color: $seconddary_color;
                        cursor: pointer;

                        &:hover{
                            color: $four_color;
                        }
                    }

                    .quantity{
                        @include flex_box_custom(center, center, 0);
                        border-left: none;
                        border-right: none;
                        width: 38px;
                        height: 38px;
                        color: $four_color;
                        cursor: unset;
                    }
                }
            }

            .orSection{
                @include flex_box_custom(space-between, center, 10px);

                margin: 20px 0;

                .textOr{
                    font-size: 12px;
                    color: $four_color;
                }

                .line{
                    flex: 1;
                    background-color: #e1e1e1;
                    height: 1px;
                }
            }

            .buyNowSection{
                font-size: 12px;

                button{
                    margin: 0;
                    font-size: 12px;

                    &:hover{
                        background-color: $four_color;
                        color: $white_color;
                    }
                }

                .btnBuyNow{
                    @include flex_box_custom(center, center, 5px);
                }
            }

            .addFunc{
                @include flex_box_custom(flex-start, center, 10px);
                margin: 30px 0;

                div{
                    @include flex_box_custom(center, center, 0);
                    padding: 11px;
                    border-radius: 50%;
                    border: 1px solid #e1e1e1;
                    cursor: pointer;
                }
            }

            .info{
                font-size: 16px;
                color: $four_color;
                margin-top: 20px;

                div{
                    margin-top: 10px;

                    span{
                        color: $seconddary_color;
                    }
                }
            }

            .accordionMenu{
                margin-top: 30px;
            }
            
        }
    }

    .relatedSection{
        padding: 15px;

        .relatedTitle{
            margin-bottom: 12px;
            font-size: 24px;
            text-align: center;
            color: $primary_color;
            font-weight: 400;
        }
    }
}

.containerInfo{
    .itemInfo{
        @include flex_box_custom(space-between, center, 0);

        border-bottom: 1px solid #e1e1e1;

        div{
            flex: 1;
            padding: 15px 0;
        }

        .TitleInfo{
            font-size: 16px;
            color: $seconddary_color;
        }
        .contentInfo{
            font-size: 15px;
            color: $thr_color;
        }
    }

    div:last-child{
        border-bottom: none;
        
        div{
            padding: 15px 0 0;
        }
            
    }

}

.containerReview{

    .reviewTitle{
        padding-bottom: 14px;
        margin-bottom: 14px;
        font-size: 14px;
        color: $four_color;
        border-bottom: 1px solid #e1e1e1;
    }

    .noReview{
        font-size: 14px;
        margin-bottom: 20px;
        color: $thr_color;
    }

    .reviewFormWrapper{
        padding-top: 30px;

        .replyTitle{
            font-size: 14px;
            color: $primary_color;
            padding-bottom: 14px;
            margin-bottom: 14px;
            text-transform: uppercase;
            border-bottom: 1px solid #e1e1e1;
        }

        .emailNotes{
            font-size: 14px;
            color: $thr_color;
            margin-bottom: 20px;
        }

        .formRating{
            margin-bottom: 20px;
        }

        .formReview,
        .formName,
        .formEmail
        {
            margin-bottom: 20px;
        }

        .consent{
            display: flex;
            gap: 10px;
            margin-bottom: 20px;

            input{
                margin-top: -12px;
            }

            p{
                font-size: 16px;
                color: $thr_color;
            }
        }

        .btnSubmit{
            button{
                font-size: 12px;
            }
        }
    }
}

.formItem{
    display: flex;
    flex-direction: column;

    label{
        margin-bottom: 5px;
        color: $thr_color;
        font-size: 16px;

        span{
            color: #c62828;
        }
    }

    input{
        width: 100%;
        height: 37px;
        border: 1px solid #e1e1e1;
        line-height: 28px;
        outline: none;
        padding: 0 17px;
        color: $four_color;
        font-size: 16px;

        &:focus{
            border: 1px solid $seconddary_color;
        }

        &::selection{
            background-color: #e1e1e1;
        }
    }

    textarea{
        height: 222px;
        padding: 17px;
        font-size: 14px;
        line-height: 1.5;
        color: $four_color;
        overflow: auto;
        border: 1px solid #e1e1e1;

        &:focus{
            border: 1px solid $seconddary_color;
            outline: none;
        }

        &::selection{
            background-color: #e1e1e1;
        }
    }

    .boxItemStar{
        display: flex;
        gap: 20px;

        div{
            cursor: pointer;
        }
    }
}

