@import "@styles/variable.module.scss";
@import "@styles/mixin.module.scss";

.container{
    @include flex_box_custom(space-between, start, 0);

    margin-top: 40px;
    
}

.containerItem{
    @include flex_box_custom(space-between, center, 20px);

    flex: 1;
    padding-left: 15px;
}