@import "@styles/mixin.module.scss";
@import "@styles/variable.module.scss";

.container{
    @include flex_box_custom(flex-start, flex-start, 25px);
    padding: 0 20px;
    margin-top: 10px;
    transition: all .3s ease;
    position: relative;

    img{
        width: 70px;
        border-radius: 2px
    }

    .boxContent{
        @include flex_box_custom(center, flex-start, 0);

        flex-direction: column;

        .title{
            font-size: 16px;
            color: $primary_color;
        }
        .sizeCss{
            color: #9e9e9e;
            margin-top: 5px;
            margin-bottom: 10px;
            font-size: 14px;
        }
        .priceCss{
            font-size: 14px;
            color: $four_color;
            margin-bottom: 5px;
        }
        .skuCss{
            font-size: 14px;
            color: $four_color;
            margin-bottom: 5px;
        }
    }


    .boxClose{
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
        display: none;
    }

    &:hover{
        background-color: #f7f7f7;

        .boxClose{
            display: block;
        }
    }

    .overlayLoading{
        @include flex_box_custom(center, center, 0);

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
    }
    
}