@import "@styles/mixin.module.scss";
@import "@styles/variable.module.scss";

.containerMethods{
        position: relative;
        margin-top: 30px;
        padding: 22px 0;
        width: 100%;
        border: 1px solid #e1e1e1;

        .titleMethods{
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            padding: 0 10px;
            background-color: $white_color;
            font-size: 14px;
            color: $four_color;
            text-transform: uppercase;

            span{
                color: #2e7d32;
            }
        }

        .boxImgMethod{
            @include flex_box_custom(center, center, 10px);

            img{
                border: 1px solid #e1e1e1;
                width: 50px;
                border-radius: 5px;
                object-fit: cover;
            }
        }
    }

    .textSecure{
        margin-top: 12px;
        text-align: center;
        font-size: 14px;
        color: $thr_color;

        span{
            color: $four_color;
        }
    }