@import "@styles/mixin.module.scss";
@import "@styles/variable.module.scss";

.container{
    padding-top: 83px;

    .functionBox{
        @include flex_box_custom(space-between, center, 0);
        color: $seconddary_color;
        font-size: 14px;
        font-weight: 300;

        .specialText{
            color: $primary_color;
            font-weight: 400;
        }

        .btnBack{
            cursor: pointer;
        }

    }
}

.containerBanner{
    @include flex_box_custom(center, center, 0);
    margin-top: 12px;
    background-image: url("https://xstore.b-cdn.net/elementor2/marseille04/wp-content/uploads/sites/2/2022/12/Background.jpeg");
    height: 279px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .contentBox{
        @include flex_box_custom(center, center, 30px);
        flex-direction: column;
        .title{
            font-size: 28px;
            color: $four_color;
        }

        .countDownBox{
            @include flex_box_custom(center, center, 10px);

            >span{
                margin-top: 0;
                border: 1px solid #e1e1e1;
            }
        }
    }
}

.containerFilter{
    @include flex_box_custom(space-between, center, 0);
    margin-top: 15px;

    .boxLeft{
        @include flex_box_custom(center, center, 20px);
    }

    .boxRight{
        @include flex_box_custom(center, center, 10px);
    }

    .boxIcon{
        @include flex_box_custom(center, center, 10px);
    }

}

.selectBox{
    border: 1px solid #e1e1e1;
    outline: none;
    padding: 5px;
    color: $seconddary_color;
}
.selectBox.sort{
    width: 275px;
}
.selectBox.show{
    width: 83px;
}

.sectionListProduct{
    min-height: 800px;
}
.containerProduct{
    @include flex_box_custom(flex-start, flex-start, 10px);
    row-gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
}
