@import "@styles/variable.module.scss";
@import "@styles/mixin.module.scss";

.container{
    margin: 65px 0 15px 0;
    @include flex_box_custom(center, center, 0px)
}

.headline{
    flex: 1;
    height: 4px;
    margin-top: 26px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.containerMiddleBox{
    flex: 1;
    text-align: center;
}

.desc{
    font-size: 14px;
    color: $thr_color;
    line-height: 26px;
    text-transform: uppercase;

}

.title{
    font-size: 24px;
    color: $primary_color;
    line-height: 32px;
    font-weight: 400;

}