@import "@styles/mixin.module.scss";

.container{
    position: relative;

    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #0000004d;
        z-index: 1000;

        transition: all 0.5s ease;
    }

    .sideBar{
        position: fixed;
        top: 0;
        right: 0;
        width: 350px;
        height: 100vh;
        background-color: #fff;
        z-index: 1001;
        transform: translateX(100%);
        overflow-y: auto;

        transition: all 0.5s ease;
    }

    .slideSideBar{
        transform: translate(0);
    }

    .boxIcon{
        @include flex_box_custom(center, center, 0px);
        position: absolute;
        top: 25px;
        left: -50px;

        width: 35px;
        height: 35px;
        font-size: 14px;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        transition: all .3s ease;

        &:hover{
            background-color: #ccc;
        }

    }
}