@import "@styles/variable.module.scss";

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .labelCss{
        font-size: 14px;
        color: $thr_color;
    }

    input,
    select
    {
        height: 37px;
        padding: 0 16px;
        line-height: 28px;
        outline: none;
        border: 1px solid #e1e1e1;

        &:focus{
            border: 1px solid $thr_color;
        }
        
        &::selection{
            background-color: #ebebeb;
        }
    }

    select{
        font-size: 14px;
        color: $seconddary_color;

        option{
            color: #000;
        }
    }
}