@import "@styles/variable.module.scss";
@import "@styles/mixin.module.scss";

.container{
    padding: 20px;

    .title{
        font-size: 24px;
        color: $four_color;
        margin-top: 20px;
    }

    .price{
        font-size: 20px;
        color: $seconddary_color;
        margin: 10px 0;
    }

    .desc{
        font-size: 16px;
        color: $thr_color;
        margin-bottom: 10px;
    }

    .titleSize{
        font-size: 16px;
        color: $thr_color;
    }

    .boxSize{
        @include flex_box_custom(flex-start, center, 10px);

        margin-top: 5px;
        
        .size{
            @include flex_box_custom(center, center, 10px);
            font-size: 12px;
            padding: 9px 12px;
            color: $thr_color;
            border: solid 1px #e1e1e1;
            cursor: pointer;
            transition: all .1s linear;

            &:hover{
                border: solid 1px $seconddary_color;
            }   
        }

        .isActive{
            border: solid 1px $primary_color;
        }
    }
    .btnClear{
        display: inline-block;
        margin-top: 10px;
        font-size: 14px;
        color: $four_color;
        text-decoration: underline;
        cursor: pointer;

        &:hover{
            color: $thr_color;
        }
    }

    .boxAddToCart{
        @include flex_box_custom(flex-start, center, 10px);
        margin: 30px 0 20px;

        select{
            width: 65px;
        }

        .btnAddToCart{
            @include flex_box_custom(center, center, 5px);
            font-size: 12px;
        }

        button{
            margin: 0;     
            text-transform: uppercase;
        }
    }

    .boxOr{
        @include flex_box_custom(center, center, 10px);
        

        .or{
            text-transform: uppercase;
            font-size: 12px;
            color: $four_color;
        }

        .line{
            width: 100%;
            height: 1px;
            background-color: #e1e1e1;
        }
    }

    .boxBuyNow{
        margin-top: 20px;

        button{
            margin: 0;
            background-color: #404040;

            &:hover{
                background-color: $primary_color;
                color: $white_color;
            }
        }
        .contentBuyNow{
            @include flex_box_custom(center, center, 5px);
            font-size: 12px;
        }
    }

    .boxCompare{
        @include flex_box_custom(flex-start, center, 10px);

        margin-top: 20px;
        font-size: 16px;
        color: $four_color;
        cursor: pointer;

        &:hover{
            color: $thr_color;
        }
    }

    .boxWishList{
        @include flex_box_custom(flex-start, center, 10px);

        margin-top: 10px;
        font-size: 16px;
        color: $four_color;
        cursor: pointer;

        &:hover{
            color: $thr_color;
        }
    }

    .boxSku,
    .boxCategory,
    .boxDelivery{
        margin-top: 10px;
        font-size: 16px;
        color: $four_color;

        span{
            color: $seconddary_color;
            padding-left: 5px;
        }
    }

    .boxShare{
        @include flex_box_custom(flex-start, center, 5px);
        margin-top: 10px;
        font-size: 16px;
        color: $four_color;

        .boxIconShare{
            @include flex_box_custom(flex-start, flex-end, 5px);
            color: $seconddary_color;

            span{
                width: 20px;
                height: 20px;
                cursor: pointer;
                transition: all .1s linear;

                &:hover{
                    color: $four_color;
                }
            }
        }
    }
    
}