@import "@styles/variable.module.scss";
@import "@styles/mixin.module.scss";

.container{
    background-color: #363636;
    padding: 40px 0;
    margin-top: 80px;
    color: $white_color;
    font-size: 16px;
    
    @include flex_box_custom(center, center, 20px);
    flex-direction: column;

    .iconLogo{
        font-size: 26px;
        color: #fff;
        font-weight: 400;
        text-transform: uppercase;
        text-shadow: 2px 2px 5px #e7e7e7;
        cursor: pointer;
    }

    .boxNav{
        @include flex_box_custom(center, center, 0px);

        list-style: none;
        margin: 15px 0 40px 0;
        font-size: 15px;

        li{
            margin: 0 20px;
            transition: color 300ms;

            &:hover{
                color: #c4c2c2;
                cursor: pointer;
            }
        }
        
    }

    .copyight{
        margin-top: 40px;
    }
}

@media (max-width: 930px) {
    .container{
        margin-top: 40px;
        padding: 20px 0;
        gap: 10px;


        .boxNav{
            margin: 5px 0 20px 0;
            font-size: 14px;

            li{
                margin: 0 10px;
            }
        }

        .ckeckout{
            font-size: 14px;
        }
    }
    
    .copyight{
        font-size: 14px;
        padding: 0 20px;
        text-align: center;
    }
}