@import "@styles/variable.module.scss";

.container{
    margin-bottom: 20px;

    .labelInput{
        font-size: 14px;
        color: $four_color;
        margin-bottom: 5px;
    }

    .boxInput{
        width: 100%;
        position: relative;
        
        input{
            width: 100%;
            border: 1px solid #e1e1e1;
            outline: none;
            padding: 10px;
        }

        .boxIcon{
            position: absolute;
            top: 12px;
            right: 12px;
            cursor: pointer;
        }
        .errMsg{
            color: red;
            font-size: 12px;
        }
    }
}

.error {
        .labelInput{
            color: red;
            
        }
            
        .boxInput {
            input {
                border: 1px solid red;
            }
        }
            
    }

