@import "@styles/variable.module.scss";
@import "@styles/mixin.module.scss";



.container{
    @include flex_box_custom(flex-start, center, 20px);
    margin-top: 10px;
    

    .content{
        @include flex_box_custom(center, flex-start, 10px);
        flex-direction: column;
    }

    .largImg{
        width: 430px;
        object-fit: cover;
        ;
    }
}


.textCenter{
    text-align: center;
}

.boxImg{
    width: 300px;
    height: 100%;
    aspect-ratio: 3 / 4; //  tỉ lệ ảnh
    margin-bottom: 6px;
    position: relative;
    overflow: hidden;
    

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity .3s linear;
        cursor: pointer;
    }

    .showImgWhenHover{
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &:hover .showImgWhenHover{
        opacity: 1;
        
    }

    .showOptionWhenHover{
        position: absolute;
        right: -100%;
        opacity: 0;
        bottom: 24px;
        background-color: $white_color;
        transition: right 300ms linear;
    }

    &:hover .showOptionWhenHover{
        right: 24px;
        opacity: 1;
    }
    .boxIcon{
        width: 40px;
        height: 40px;
        @include flex_box_custom(center, center, 0px);
        cursor: pointer;
        

        &:hover{
            background-color: #eeecec;
        }
    }
}

.title{
    font-size: 16px;
    color: $four_color;
    font-weight: 400;
    margin: 6px 0;
}
.desc{
    font-size: 14px;
    color: $thr_color;
}

.boxSize{
    @include flex_box_custom(center, center, 10px);

    .size{
        @include flex_box_custom(center, center, 0);

        font-size: 10px;
        border: 1px solid #e1e1e1;
        padding: 4px 8px;
        cursor: pointer;


        &:hover{
        border: 1px solid $primary_color;
    }
    }
}

.isActiveSize{
    border: 1px solid $primary_color !important;
}

.btnClear{
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    margin: 10px 0;
}