@import "@styles/mixin.module.scss";
@import "@styles/variable.module.scss";

.container{
    padding-top: 83px;


    .functionBox{
        @include flex_box_custom(space-between, center, 0);
        color: $seconddary_color;
        font-size: 14px;
        font-weight: 300;
        padding: 15px 12px;

        .specialText{
            color: $primary_color;
            font-weight: 400;
        }

        .btnBack{
            cursor: pointer;
        }

    }

    .containerTitle{
        margin-top: 60px;

        .line{
            width: 100%;
            height: 2px;
            border-top: 1px solid #e1e1e1;
            border-bottom: 1px solid #e1e1e1;
            position: relative;
        }

        .title{
            position: absolute;
            left: 50%;
            top: -40px;
            transform: translateX(-50%);
            z-index: 10;
            background-color: #fff;
            text-align: center;
            padding: 0 30px;

            .textS{
                font-size: 14px;
                color: $thr_color;
                text-transform: uppercase;
            }
            .textL{
                font-size: 24px;
                color: $primary_color;
                margin: 10px 0;
            }
        }
    }

    .containerContent{  
        @include flex_box_custom(space-between, center, 30px);
        margin-top: 60px;

        img{
            width: 100%;
            height: 390px;
        }

        .desc{
            font-size: 16px;
            line-height: 26px;
            font-weight: 400;
            color: $thr_color;
            margin-top: 30px;
        }
    }

    .containerSlider{
        margin-top: 80px;
        margin-bottom: 140px;
    }

    .containerAccordion{
        margin-top: 40px;

        .accordion{
            border-bottom: 1px solid #e1e1e1;
            padding: 15px 0;
            width: 860px;
            margin: 0 auto;


            .title{
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                font-size: 20px;
                color: $four_color;

            }
            .desc{
                height: 0px;
                overflow: hidden;
                font-size: 16px;
                color: $thr_color;
                line-height: 26px;
                transition: all 0.3s linear;
                
            }
            .desc.active{
                height: auto;
                padding: 25px 0;
            }
        }
    }
}