@import "@styles/mixin.module.scss";
@import "@styles/variable.module.scss";


.container{
    @include flex_box_custom (center, center, 0px);

    background-image: url(../../assets/images/8.png);
    min-height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}

.content{    
    @include flex_box_custom (center, center, 20px);

    flex-direction: column;
    padding: 0 50px;
    // z-index: 1;
}

.title{
    font-size: 42px;
    color: $four_color;
    font-weight: 400;
    margin: 0;
}

.desc{
    text-align: center;
    font-size: 16px;
    color: $four_color;
    margin: 0 0 20px 0;
    line-height: 25px;
}